@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

html {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  scroll-behavior: smooth;
}

body{
  height: fit-content;
}